.partnerheader{
    height: 35vw;
    width: 90%;
   margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: blue;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vw;
  }
  .partnerheadertext{
    /* background-color: green; */
    height: 90%;
    width: 45%;
 
  }
  .partnerheaderpic{
    /* background-color: white; */
    height: 96%;
    width: 50%;
    border-radius: 6px;
  }

  .partnerheaderpic img{
    height: 100%;
    width: 100%;
  }

  .partnerheadertext h1{
    font-size: 3vw;
    font-weight: 500;
    padding-left: 9%;
    line-height: 4vw;
    
}
.partnerheadertext p{
    font-size: 1.5vw;
    color: gray;
    line-height: 2vw;
    padding-left: 10%;
}
.partnercount{
  height: 9vw;
  width: 90%;
  display: flex;
  /* background-color: red; */
  margin-left: 10%;
}
.partnercount h1{
  line-height: 2vw;
  padding-left: 3vw;
}
.partnercount p{
  padding-bottom: 3vw;
  line-height: 0;
  font-size: 1.3vw;
  color: rgb(48, 44, 44);
}
.partnercount1{
  height: 100%;
   width: 30%;
/*background-color:blue; */
/* display: flex;
flex-direction: column; */
/* justify-content: center;
align-items: center; */

}
.partnercount2{
  height: 100%;
  width: 30%;
/* background-color:yellow; */

}

.partnercount3{
  height: 100%;
  width: 40%;
/* background-color:orange; */

}
.partnercount img{
  height: 40%;
  width: 80%;
  padding-top: 1vw;
  padding-left: 1vw;
}
.partnercount3 p{
  font-size: 1.3vw;
  line-height: 1.5vw;
  padding-bottom: 1vw;
}
